/* your code here */
*{margin:0;
 padding:0;
 box-sizing:border-box;}
body{
	
	font-family:sans-serif;
	
}
img{
	width:50px;}
.content{padding:30px;
		height:auto;
		background-color:black;}
.top{display:flex;
	align-items:center;
	justify-content:space-between;}
.logo_name{color:white;
		  font-size:42px;}
.link-boxes p{color:white;}
.link-boxes{
	padding:20px 0;
	margin:40px 0;
	display:flex;
	justify-content:space-between;
	color:lightgray;}
.bottom-details{
	background-color:grey;
	display:flex;
	justify-content:space-between;
	color:white;
	padding:20px 30px;
}
ul li{list-style:none;
	 padding:8px 0;}

.underline{text-decoration:underline;}
.media-icons{display:flex;}
.facebook-icon{}
.twitter-icon{}
.instagram-icon{}